.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar-item {
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    background-color: #575757;
  }
  