/* AuthStyles.css */

/* Container styling */
* {
    font-size: x-large;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Form styling */
  .form-container form {
    width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  /* Title styling */
  .form-container form .title {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }
  
  /* Input field styling */
  .form-container form .form-control {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 24px;
  }
  
  /* Button styling */
  .form-container form .btn {
    padding: 10px;
    background-color: #db7e47;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container form .btn:hover {
    background-color: #0056b3;
  }
  