/* Signup.css */

/* Container styling */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Card styling */
  .signup-card {
    width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling */
  .signup-card h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }
  
  /* Form styling */
  .signup-card form {
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }
  
  /* Input field styling */
  .signup-card form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 24px;
  }
  
  /* Button styling */
  .signup-card form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-card form button:hover {
    background-color: #218838;
  }
  
  /* Error message styling */
  .signup-card .error {
    color: #dc3545;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Link styling */
  .signup-card p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .signup-card p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-card p a:hover {
    text-decoration: underline;
  }
  
  .dropdown{
    margin-bottom: 5%;
  }